@using ElsModels.SQL
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="flex items-center space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index"
           class="text-gray-200 hover:text-sky-400 text-base px-3 py-2 rounded-md text-gray-200 font-medium transition">
            <i class="fas fa-user-circle mr-1"></i>Hello @User.Identity?.Name
        </a>
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
              class="inline">
            <button type="submit"
                    class="text-gray-200 hover:text-sky-400 text-base px-3 py-2 rounded-md text-gray-200 font-medium transition">
                <i class="fas fa-sign-out-alt mr-1"></i>Logout
            </button>
        </form>
    }
    else
    {
        <a asp-controller="AppUser" asp-action="Register"
           class="text-gray-200 hover:text-sky-400 px-3 py-2 rounded-md text-base font-medium transition">
            <i class="fas fa-user-plus mr-1"></i>Register
        </a>
        <a asp-controller="AppUser" asp-action="Login"
           class="text-gray-200 hover:text-sky-400 px-3 py-2 rounded-md text-base font-medium transition">
            <i class="fas fa-sign-in-alt mr-1"></i>Login
        </a>
    }
</div>